body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "League Spartan", sans-serif;
    background-color: white;
}

#account-div{
    background-color: #e2e9f1;
    align-self: center;
    min-height: 1000px;
    width: 90%;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    backdrop-filter: blur(20px); 
    border: 2px solid white;
    position: relative;
    margin: 50px 0 100px;
    padding: 50px;
    align-items: flex-start;
}

.account-navs{
    border-radius: 20px;
    background-color: white;
}

#sidebar{
    width: 20%;
    padding: 25px;
    position: relative;
}

#main-content{
    background-color: white;
    width: auto;
    margin-left: 400px;
    padding: 50px;
    max-width: 780px;
}

#sidebar-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-list .sidebar-element{
   height: 60px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.sidebar-element-button{
    text-align: center;
    border: none;
    background-color: white;
    font-size: 22px;
}

.sidebar-element-button:hover{
    background-color: rgb(228, 228, 228);
    border-radius: 40px;
    width: 60%;
    cursor: pointer;
}



#main-content .products-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.product-image{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.products-list li{
    margin: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    border-bottom: 1px solid grey;
}

li a{
    align-self: center;
    text-decoration: none;
}



.products-list li a:hover{
    text-decoration: underline;
}

.empty-message{
    font-size: 22px;
    color: red;
}

.like-button{
    position: absolute; 
    top: 10px; 
    right: 10px; 
}


.product-item{
    max-width: 200px;
}

.product-title{
    width: 100%;
    height: 65px;
    word-wrap: break-word;
    text-align: start;
}

#logout-btn{
    color: red;
}

#logout-btn:hover{
    color: white;
    background-color: rgb(255, 87, 87);
    width: 80%;
    cursor: pointer;
}

.product-price{
    margin-top: 25px;
    margin-bottom: 10px;
    color: rgb(0, 186, 170);
    align-self: flex-start;
}


#main-content{
    display: none;
}


#main-content.show{
    display: flex;
    border-radius: 20px;
    background-color: white;
}

.rating-div{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.account-star{
    font-size: 30px;
}

.rating-number-span{
    margin-left: 5px;
}

.user-div.hidden {
    display: none;
}

.user-div{
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: start;
    padding: 50px;
}

.user-div.show{
    display: flex;
}

#change-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}


#checkout-btn{
    background-color: rgb(0, 218, 0);
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 22px;
}

#checkout-btn-link.hidden{
    display: none;
}

#checkout-btn-link{
    display: block;
    height: 50px;
    width: 100%;
    top: 550px;
    border-radius: 30px;
    left: 0px;
    position: absolute;
}

#checkout-btn:hover{
    cursor: pointer;
    background-color: rgb(0, 142, 0);
}



.change-data{
    border: none;
    width: 75%;
    padding: 15px;
    margin-bottom: 45px;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(78, 78, 255);
    background-color: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

.change-data:hover{
    cursor: pointer;
}

.user-info{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 30px;
}

.change-data.delete-acc{
    background-color: red;
    color: white;
}