body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    background-color: #e2e9f1;
    min-height: 100vh;
}

#main-navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.brand {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 14px 20px;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    padding: 14px 20px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar-menu a:hover {
    background-color: #575757;
    border-radius: 6px;
    text-decoration: none;
}

.brand:hover{
    text-decoration: none;
    background-color: #575757;
    border-radius: 6px;
}


.search-input{
    border-radius: 7px 7px;
    width: 400px;
    border: none;
}

.search-input:focus{
    outline: none;
    box-shadow: none; 
}

.search-button{
    background-color: rgb(231, 201, 29);
    border-radius: 5px; 
}

.search-button:hover{
    background-color: yellow;
    cursor: pointer;
}

.search-input:focus{
    border: 3px solid rgb(247, 229, 70);
}

#search-form{
    display: flex;
    height: 40px;
}

#sell-button{
    margin-top: 3px;
    color:rgb(25, 22, 22);
    height: 40px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(61, 232, 52);
    /*border: 2px solid gray;  */
    border: none;
    font-size: 16px;
    color: white;
}

#sell-button:hover{
    background-color: chartreuse;
    cursor: pointer;
}

#cart{
    position: relative;
}

#cart:hover{
    cursor: pointer;
}


#cart-length{
    position: absolute;
    left: 40px;
    bottom: 20px;
    color: gold;
}

.nav-item{
    font-size: 18px;
}

#footer{
    background-color: rgb(182, 182, 182);
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

#project-title{
    margin-top: 20px;
    font-size: 32px;
    color: white;
    font-weight: 600;
}


.bxl-github{
    font-size: 30px;
}

#creator{
    margin-top: 20px;
    font-size: 26px;
}

#creator-github-link{
    color:purple;
    text-decoration: none;
}