body{
    background-color: white;
}

#categories-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list{
    width: 60%;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.list.pets-list{
    margin-bottom: 100px;
}


.list li{ 
    border-radius: 10px;
    margin: 20px 20px 0;
    width: 30%;
    height: 50px;
}

.category-link{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    background-color: rgb(214, 214, 214);
    font-family: "League Spartan", sans-serif;
}

.category-link:hover{
    background-color: rgb(164, 164, 164);
    color: white;
    transition: 0.2s;
}

.category-link:hover{
    cursor: pointer;
}


.category-title{
    margin-top: 100px;
}

.category-form{
    width: 100%;
    height: 100%;
}