#homepage-body{
    overflow: hidden;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;

}


.frame{
    margin: 50px 20px;
    height: fit-content;
    box-sizing: border-box;
}



.product-list{
    list-style: none;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}


.product{
    margin-right: 40px;
    background-color: white;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 320px;
    border-radius: 10px;
    position: relative;
}

.product-list::-webkit-scrollbar {
    height: 10px;
}

.product-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

.product-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.product-image{
    border-radius: 5px;
    height: 200px;
    width: 200px;
}


.like-button{
    position: absolute; 
    top: 10px; 
    right: 10px; 
}

.title-container a {
    display: block; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    padding: 5px; 
    white-space: normal;
    height: 60px;
    padding: 0 10px;
}

h2{
    font-size: 22px;
}

.title-container{
    width: 100%; 
    text-align: center; 
    overflow: auto;
    height: 120px;
}

.title-text{
    font-size: 18px;
}

.product-details-link{
    text-decoration: none;
    color: black;
}

.product-details-link:hover{
    text-decoration: underline;
}

.product-details-link:link, .product-details-link:visited{
    color:black;
}

.bx.bx-time-five{
    color: red;
}

.bx.bx-star{
    color: goldenrod;
}

.list-icon-title{
    margin-left: 30px;
}


.list-title-link{
    color:blue ;
    display: flex;
    width: fit-content;
}

.list-title-link:visited{
    color: blue;
}

.view-all-btn{
    border-radius: 50px;
    border: 2px solid black;
    height: 80px;
    width: 80px;
    font-size: 20px;
}

.view-all-container{
    align-self: center;
}

.view-all-btn:hover{
    cursor: pointer;
}