body{
    background-color: #e2e9f1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-form{
    align-self: center;
    width: 40%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(40px);
}

.form-items{
    border-bottom: 1px solid rgb(192, 192, 192);
    margin-bottom: 10px;
    width: 95%;
    padding-bottom: 10px;
    align-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 20px;
}

.form-inputs{
    width: 60%;
    border-radius: 3px;
    border: 1px solid #fdf7f6a4;
    height: calc(1.5em + 1rem + 2px);
    background-color: rgb(255, 255, 255);
}

.submit-button{
    border-radius: 5px;
    width: 100%;
    height: 50px;
    border: none;
    margin-top: 10px;
    background-color: rgb(255, 183, 48);
    color: white;
    font-size: 20px;
    align-self: self-start;
    margin-bottom: 60px;
}

.submit-button:hover{
    background-color: rgb(255, 133, 52);
}


h1 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.description{
    resize: none;
    height: 200px;
}

.form-inputs{
    border: 1px solid grey;
}

h3{
    font-size: 25px;
}


#images{
    display: none;
    width: 30px;
}

#main-image{
    display: none;
}

label.upload-images:hover{
    cursor: pointer;
    background-color: rgb(255, 133, 52);
}

label.upload-images{
    display: flex;
    text-transform: uppercase;
    background-color: rgb(255, 183, 48);
    padding: 15px;
    width: 30%;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    height: 25px;
    flex-shrink: 0;
}

.label-text{
    width: 100%;
    word-wrap: break-word;
}

.images-input{
    display: flex;
    flex-direction: row;
}

.submit-button:hover{
    cursor: pointer;
}



/* Dropdown btn */
.categories_btn{
    height: 35px;
    border-radius: 40px;
    width: 70%;
    border: 1px solid grey;
    font-size: 18px;
    position: relative;
}

.bx.bx-chevron-up{
    font-size: 24px;
    position: absolute;
    right: 20px;
}

.categories_btn:hover{
    cursor: pointer;
}


.dropdown-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    width: 66.6%;
    margin: 0;
    border-top: none;
    border: 1px solid black;
    border-top: 1px solid grey;
    top: 135px; 
}

.subcategory{
    font-size: 18px;
    padding: 0;
    margin: 0 0 10px ;
}

.subcategory:hover{
    cursor: pointer;
}

.categories_btn.open{
    border-radius: 0;
    background-color: white;
    border-bottom: none;
}

.categories_btn.open + .dropdown-list{     
    display: block;
    max-height: 400px;
    overflow-y: auto;
}


.dropdown-list li:hover {
    background-color: #f1f1f1;
}

.dropdown-container{
    position: relative;
}

.category-class{
    font-size: 22px;
    margin: 0;
    margin-top: 25px;
    padding: 0;
}


.selected_category{
    background-color: rgb(74, 152, 255);
    font-size: 20px;
    display: block;
    border-radius: 20px;
    padding: 10px;
    margin: 0 5px 10px;
    color: white;
}

#selected_categories_list{
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    max-width: 100%;
    flex-wrap: wrap;
}

#main-image-name{
    margin-left: 50px;
    width: 450px;
    word-wrap: break-word;
}

.images-name-list{
    width: 100%;
    padding: 0;
    margin: 0;
}

.images-name-list li{
    word-wrap: break-word;
}

#file-list{
    margin-left: 50px;
    width: 450px;
    word-wrap: break-word;
}

.check-box:hover{
    cursor: pointer;
}

#existing-images li{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(217, 217, 217);
    border-radius: 30px;
    border: 2px solid grey;
}



.filename{
    width: 60%;
    word-wrap: break-word;
    margin-left: 20px;
}

#existing-images{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}


input[type="checkbox"]{
    width: 20px;
    height: 20px;

}
