#first-frame{
    margin: 30px 20px;
    height: 40vh;
    box-sizing: border-box;
   
}

body{
    min-height: 200vh;
    box-sizing: border-box;
}

.product-list{
    list-style: none;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}


.product{
    margin-right: 40px;
    background-color: rgb(248, 246, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    min-width: 200px;
    border-radius: 10px;
    position: relative;
}

.product-list::-webkit-scrollbar {
    height: 10px;
}

.product-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
}

.product-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.trending-icon{
    background-color: #40cffb;
    border-radius: 10px;
    margin-right: 7px;
}

.product-image{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    object-fit: cover;
}




