{% extends "base.html" %}
{% block css%}
<link rel="stylesheet" href="./static/css/account.css">
<link rel="stylesheet" href="./static/css/like-button.css">
<link rel="stylesheet" href="./static/css/products-style.css">
<link rel="stylesheet" href="./static/css/user.css">
{%endblock%}

{% block content%}

<div id="account-div">
    <nav id="sidebar" class="account-navs">
        <ul id="sidebar-list">
            <li class="sidebar-element"><button class="sidebar-element-button" id="profile-btn" type="submit">Profile</button></li>
            <li class="sidebar-element"><button class="sidebar-element-button" id="orders-btn" type="submit">Orders</button></li>
            <li class="sidebar-element"><button class="sidebar-element-button" id="wishlist-btn" type="submit">Wishlist</button></li>
            <li class="sidebar-element"><button class="sidebar-element-button" id="cart-btn" type="submit">Cart</button></li>
            <li class="sidebar-element"><button class="sidebar-element-button" id="ratings-btn" type="submit">Ratings</button></li>
            <li class="sidebar-element"><button class="sidebar-element-button" id="published-products-btn" type="submit">My products</button></li>
            <li class="sidebar-element"><button class="sidebar-element-button" id="logout-btn" type="submit">Logout</button></li>
        </ul>
        <a href="/checkout" id="checkout-btn-link" class="hidden">
            <button id="checkout-btn">Checkout</button>
        </a>
    </nav>
    <nav id="main-content" class="show" class="account-navs">

    </nav>    
</div>

<div class="user-div hidden">
    <div class="user-tab in-account tab">
        <div class="user-info">
            <i class='bx bxs-user-circle'></i>
            <span class="user-details">
                <div class="user-username">{{user['username']}}</div>
                <div class="user-ratings">
                    <i class='bx bxs-star'></i>
                    <span class="total-rating">{{total_rating}}/5 ({{count}} {% if count!=1 %}ratings {% else %}rating{% endif %})</span>
                </div>
            </span>
        </div>
        <div class="change-info">
            <a class="change-data">Change username</a> 
            <a class="change-data">Change password</a> 
        <div>
    </div>
</div>

{% block scripts %} 
{{ super() }}
<script src="./static/js/account.js "></script>
<script src="./static/js/account-like-button.js "></script>
{% endblock %}

{% endblock %}








