<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/base.css">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
    <nav id="main-navbar">
        <div class="navbar-container">
            <a href="/" class="brand">Home</a>
            <div class="search-container">
                <form id="search-form" action="/search">
                    <input type="search" placeholder="Search" class="search-input">
                    <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <ul class="navbar-menu">
                <li><a href="{{ url_for('account') }}">{{x}}</a></li>
                <li><a href="Categories.html">Categories</a></li>
                <li><a href="#"><i class='bx bx-cart cart'></i></a></li>
                <li><button id="sell-button">Sell your product!</button></li>
            </ul>
        </div>
    </nav>

    {%block content%}
    {%endblock%}
    
</body>
</html>