<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
    <nav id="main-navbar">
        <div class="navbar-container">
            <a href="/" class="brand">Home</a>
            <div class="search-container">
                <form id="search-form" action="/search">
                    <input type="search" placeholder="Search" class="search-input" name="query" minlength="3">
                    <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <ul class="navbar-menu">
                <li><a class="nav-item" href="{{ url_for(page) }}">{{x}}</a></li>
                <li><a class="nav-item" href="{{ url_for("categories") }}">Categories</a></li>
                <li><a class="nav-item" id="cart" href="/account?section=cart"><i class='bx bx-cart cart'></i><div id="cart-length">{{products_in_cart}}</div></a></li>
                <li><button id="sell-button">Sell your product!</button></li>
            </ul>
        </div>
    </nav>
    
    {%block content%}
    
    {% block scripts %}
        <script src="{{url_for('static',filename='js/base.js')}}"></script>
    {% endblock %}

    {%endblock%}

</body>
</html>