{% extends "base.html" %}
{% block css%}
<link rel="stylesheet" href="./static/css/categories.css">
{%endblock%}

{% block content %}

<form id="categories-form" method="POST" action="/filter">
    <div id="categories-div">
        {% for i in range(categories | length) %}
            <h1 class="category-title">{{categories[i].name}}</h1>
            <ul class="{{categories[i].name | lower}}-list list">
                {% for subcategory in categories[i].subcategories %}
                    <li>
                        <form method="POST" action="/filter" class="category-form">
                            <input type="hidden" name="query" value="{{subcategory}}">
                            <button type="submit" class="category-link">{{subcategory}}</button>
                        </form>
                    </li> 
                {% endfor %}
            </ul>
        {% endfor %}


    </div>
</form>




{% block scripts %} 
    {{ super() }}
{% endblock %}

{% endblock %}