{% extends "base.html" %}
{% block css%}<link rel="stylesheet" href="./static/homepage.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{%endblock%}
{% block content %}


<div id="first-frame">
    <h1><i class='bx bx-trending-up trending-icon'></i>Trendings</h1>
    <ul class="product-list">
            {% for product in products %}
            <li class="product">
                <button id="like-button-{{product._id}}" class="like-button  {% if product._id in user_liked_products %}liked{% endif %}" type="submit" ><i class='bx bx-heart'></i></button>
                <img class="product-image" src="{{ url_for('photo', photo_id=product.photos[0]) }}" alt="Product Photo">
                <h2>{{ product.title }}</h2>
            </li>
            {% endfor %}
    </ul>
</div>


<script src="./static/script.js"></script>
{% endblock %}