{% extends "base.html" %}
{% block css%}
<link rel="stylesheet" href="./static/css/homepage.css">
<link rel="stylesheet" href="./static/css/like-button.css">
{%endblock%}
{% block content %}

<div id="homepage-body">

    <div class="frame">
        <a href="/search?query=latest+listings" class="list-title-link"><h1 class="list-icon-title"><i class='bx bx-time-five'></i>Latest listings</h1></a>
        <ul class="product-list">
            {% for product in products | reverse %}
                {% if product.quantity > 0 %}
                    <li class="product">
                        <button id="like-button-{{product._id}}" class="like-button  {% if product._id in user_liked_products %}liked{% endif %}"><i class='bx bx-heart'></i></button>
                        <a href="/products/{{product._id}}" class="product-details-link"><img class="product-image" src="{{ url_for('photo', photo_id=product.photos[0]) }}" alt="Product Photo"></a>
                        <span class="title-container"><a href="/products/{{product._id}}" class="product-details-link title-text">{{ product.title }}</a></span>
                        <a href="/products/{{product._id}}" class="product-details-link"><h2 class="price-container">{{product.price}}€</h2></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="frame">
        <a href="/search?query=top+rated" class="list-title-link"><h1 class="list-icon-title"><i class='bx bx-star'></i>Top rated</h1><a>
        <ul class="product-list">
            {% for product in products_sorted_by_rating %}
                {% if product.quantity > 0 %}
                    <li class="product">
                        <button id="like-button-{{product._id}}" class="like-button  {% if product._id in user_liked_products %}liked{% endif %}"><i class='bx bx-heart'></i></button>
                        <a href="/products/{{product._id}}" class="product-details-link"><img class="product-image" src="{{ url_for('photo', photo_id=product.photos[0]) }}" alt="Product Photo"></a>
                        <span class="title-container"><a href="/products/{{product._id}}" class="product-details-link title-text">{{ product.title }}</a></span>
                        <a href="/products/{{product._id}}" class="product-details-link"><h2 class="price-container">{{product.price}}€</h2></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="frame">
        <a href="/search?query=most+viewed" class="list-title-link"><h1 class="list-icon-title"><i class='bx bx-glasses-alt'></i>Most viewed</h1></a>
        <ul class="product-list">
            {% for product in most_viewed_products %}
                {% if product.quantity > 0 %}
                    <li class="product">
                        <button id="like-button-{{product._id}}" class="like-button  {% if product._id in user_liked_products %}liked{% endif %}"><i class='bx bx-heart'></i></button>
                        <a href="/products/{{product._id}}" class="product-details-link"><img class="product-image" src="{{ url_for('photo', photo_id=product.photos[0]) }}" alt="Product Photo"></a>
                        <span class="title-container"><a href="/products/{{product._id}}" class="product-details-link title-text">{{ product.title }}</a></span>
                        <a href="/products/{{product._id}}" class="product-details-link"><h2 class="price-container">{{product.price}}€</h2></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>

{% block scripts %} 
    {{ super() }}
    <script src="./static/js/like-button.js"></script>
{% endblock %}

{% endblock %}