{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/selling.css') }}">
{% endblock %}

{% block content %}
<form id="product-form" method="POST" action="/submit" enctype="multipart/form-data">
    <h1>Sell your product here</h1>
    <div id="main-div">
        <div class="form-items">
            <h3>Title</h3>
            <input type="text" class="form-inputs" name="title" placeholder="Title" maxlength="83" minlength="3" required>   
        </div>
        <div class="form-items">
            <h3>Main image of the product</h3>
            <input type="file" id="main-image" class="form-inputs" name="main-image" accept="image/*">
            <div class="images-input">
                <label for="main-image" class="upload-images"><i class='bx bx-upload'></i><div class="label-text">Upload the main image</div></label>
                <div id="main-image-name"></div>
            </div> 

            <h3>The other images</h3>
            <input type="file" id="images" class="form-inputs" name="photos" accept="image/*" multiple>
            <div class="images-input">
                <label for="images" class="upload-images"><i class='bx bx-upload'></i><div class="label-text">Upload the other images</div></label>
                <div id="file-list"></div>
            </div>    
        </div>

        <div class="dropdown-container form-items">
            <h3>Select Categories and tags</h3>
            <button type="button" class="categories_btn closed"> Categories <i class='bx bx-chevron-up'></i></button>
            <ul class="dropdown-list">
                {% for i in range(categories | length ) %}
                <li><p class="category-class">{{categories[i].name}}<p></li>
                    {% for subcategory in categories[i].subcategories %}
                        <li class="subcategory" categoryClass="{{categories[i].name}}">
                            <input class="check-box" type="checkbox" name="categories[]" value={{subcategory}}>{{subcategory}}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <ul id="selected_categories_list">
            </ul>
        </div>

        <div class="form-items">
            <h3>Write a description</h3>
            <textarea class="form-inputs description" name='description' placeholder="Write a description" maxlength="1000" minlength="5" required></textarea>
            <p class="char-count">0/1000</p>
        </div>
        <div class="form-items">
            <h3>Quantity of the product</h3>
            <input type="number" step="0.1" class="form-inputs" placeholder="Quantity" name="quantity">
        </div>
        <div class="form-items">
            <h3>Price of the product</h3>
            <input type="number" step="0.1" class="form-inputs" placeholder="Price" name="price">
        </div>
        <button type="submit" class="submit-button">Submit</button>
        
    </div>
</form>

{% block scripts%}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/selling.js') }}"></script>
{% endblock %}

{% endblock content %}