{% extends "base.html" %}

{% block css %}<link rel="stylesheet" href="./static/css/selling.css">{% endblock %}

{% block content %}
<form id="selling-form" method="POST" action="/submit" enctype="multipart/form-data">
    <h1 class="selling-font">Sell your product here</h1>
    <div id="main-div">
        <div class="selling-form-items">
            <h3 class="selling-font">Title</h3>
            <input type="text" class="selling-form-inputs" name="title" placeholder="Title" maxlength="30" required>   
        </div>
        <div class="selling-form-items">
            <h3>Add your photos here</h3>
            <input type="file" class="selling-form-inputs" name="photos" accept="image/*" maxlength="1" multiple>
        </div>
        <div class="selling-form-items">
            <h3>Select Categories and tags</h3>
            <select class="selling-form-inputs" name="categories" required>
                <option value="category1">Category1</option>
                <option value="category2">Category2</option>
                <option value="category3">Category3</option>
            </select>
        </div>
        <div class="selling-form-items">
            <textarea class="selling-form-inputs description" name='description' placeholder="Write a description" maxlength="1000" required></textarea>
            <p class="char-count">0/1000</p>
        </div>
        <div class="selling-form-items">
            <input type="number" class="selling-form-inputs" placeholder="Price" name="price">
        </div>

        <button type="submit" class="selling-submit-button">Submit</button>
        

    </div>
</form>
{% block scripts%}
    <script src="./static/js/selling.js"></script>
{% endblock %}
{% endblock content %}